/*Header --------------------------------------*/
header {
    width: 100%;
    margin: 0 auto;
    background-color: $bg;
    border-bottom: 1px solid $bg-transparent;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    #menu {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
        .logo {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            a {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
    
                img {
                    width: 48px;
                    height: 48px;
                }
    
                h1 {
                    color: $text-primary;
                    margin-left: 5px;
                    font-size: 1.2rem;
                    width: 120px;
                }
            }

            .button-menu {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 50px;

                i {
                    cursor: pointer;
                    color: $text-secondary;
                    justify-self: flex-end;
                    font-size: 30px;

                    &:hover {
                        color: $text-secondary-two;
                    }
                }
            } 
        }

        nav {
            width: 100%;
            background: rgba(198, 251, 202, 0.8);
            position: absolute;
            top: 60px;

            border-radius: 0px 0px 15px 15px;
    
            ul {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                transition: all;
    
                li {
                    margin: 10px;
    
                    a {
                        color: $text-primary;
                        font-size: 18px;
                        font-weight: 700;
                        
                        &:hover {
                            //color: $text-secondary-two;
                            border-bottom: 1px solid $bg;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 700px) {
    header {
        #menu {
            display: flex;
            flex-direction: row !important;
            justify-content: space-around;

            .logo {
                .button-menu {
                    display: none;
                }
            }

            nav {
                background: transparent;
                position: relative;
                top: 0;

                ul {
                    width: 100%;
                    display: flex !important;
                    flex-direction: row !important;
                    justify-content: flex-end;
                    margin-right: 30px;

                    li {
                        a {
                            color: $text-secondary;
                            font-weight: normal;
                            
                            &:hover {
                                color: $text-secondary-two;
                            }
                        }
                    }
                }
            } 
            
        }
    }
}